

body {
    font-family: 'Patrick Hand', cursive;
    margin:0;
} 

main > .container {
    padding: 15px 0;
}

.flex-column {
    flex-direction: column!important;
}

.h-100 {
    height: 100%!important;
}

.d-flex {
    display: flex!important;
}

/* .navbar { 
    background-color: #44A1A0;

} */

/*nav menu*/
#site-name {
    font-family: 'Patrick Hand', cursive;
    font-size:1.8em;
}

#navbarText {
    font-size: 1.8em;
}


/* #nav {
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: #000000;
    height:38px;
} */

/* #nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    width: 100%;
} */

/* #nav li {
    margin: 0px;
} */

/* #nav li a {
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
    float: left;
}

#nav li a:hover {
    color: #FFFFFF;
    background-color: #35af3b;
} */

/*header*/

#header-title {
    /* font-family: 'The Girl Next Door', cursive; */
    font-family: 'Patrick Hand', cursive;
    font-size: 5em;
    text-align: center;
}

.sub-header {
    /* font-family: 'The Girl Next Door', cursive; */
    font-family: 'Patrick Hand', cursive;
    font-size: 3.4em;
    text-align: center;
}


/* svg.bi.bi-arrow-down {
    margin-left: 704px;
}


 .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 36px;
    margin-left: 766px;
    text-align: center;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}  */



/*overview section*/ 
.overview {
    padding-top:15px;
}

.overview-button {
    border: 3px solid #44A1A0;
}


/*look-listen cards*/


.card-title, .card-text {
    font-size:2em;
}

/* .card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 1;
    }
    @include media-breakpoint-only(xl) {
      column-count: 1;
    }
  } */


/*about section*/
/* .about-text {
    text-align: center;
}

.about-test {
    width:365px;
    height:265px;
    float:left;
    padding:22px;
    margin-left:205px;
}

.about-title {
    text-align:center;
    font-size:3em;
}  */



/*media section*/



/*upcoming events*/



/*footer*/
/* .container { */
    /* width:auto;
    max-width:680px;
    padding:0 15px; */
    /* position: relative; */
    /* height:100%;
} */

.footer {
   /* position: relative; */
   width: 100%;
   color: black;
   /* padding-top:10px; */
 
}

.copyright-area{
    background: #202020;
    padding: 25px 0;
  }

  .copyright-text p {
    margin: 0;
    font-size: 15px;
    color: #FEFEFA;
  }
  .copyright-text p a{
    color: #FEFEFA;
  }