

body {
    font-family: 'Patrick Hand', cursive;
} 

.navbar-header {
    background-color: #44A1A0;
    padding-bottom: 65px;
}


.navbar { 
    padding-top:10px;
}

/*nav menu*/
#site-name {
    font-family: 'Patrick Hand', cursive;
    font-size:1.8em;
}

#navbarText {
    font-size: 1.8em;
}

/*header*/
/* .header-section {
    background-color: #44A1A0;
} */

#header-title {
    /* font-family: 'The Girl Next Door', cursive; */
    font-family: 'Patrick Hand', cursive;
    font-size: 5em;
    text-align: center;
}

.sub-header {
    /* font-family: 'The Girl Next Door', cursive; */
    font-family: 'Patrick Hand', cursive;
    font-size: 3.4em;
    text-align: center;
}

svg.bi.bi-arrow-down {
    margin-left: 704px;
}


 .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 36px;
    margin-left: 766px;
    text-align: center;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
} 

/*overview section*/ 
.overview {
    padding-top:10px;
}

/*look-listen cards*/
.look {
    float:left;
    margin-left:43px;
    /* padding-left:5px; */
}


.listen {
    float:right;
    margin-left:-4px;
}

.card-title, .card-text {
    font-size:2em;
}


/*about section*/
/* .about-text {
    text-align: center;
}

.about-test {
    width:365px;
    height:265px;
    float:left;
    padding:22px;
    margin-left:205px;
}

.about-title {
    text-align:center;
    font-size:3em;
}  */



/*media section*/



/*upcoming events*/



/*footer*/