

body {
    font-family: 'Patrick Hand', cursive;
} 

/*nav menu*/
#site-name {
    font-family: 'Patrick Hand', cursive;
    font-size:25px;
}

#navbarText {
    font-size: 25px;
}

/*header*/
/* .header-section {
    background-color: #44A1A0;
} */

#header-title {
    /* font-family: 'The Girl Next Door', cursive; */
    font-family: 'Patrick Hand', cursive;
    font-size: 95px;
    text-align: center;
}

.sub-header {
    /* font-family: 'The Girl Next Door', cursive; */
    font-family: 'Patrick Hand', cursive;
    font-size: 55px;
    text-align: center;
}

svg.bi.bi-arrow-down {
    margin-left: 704px;
}


 .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 36px;
    margin-left: 766px;
    text-align: center;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
} 

/*about section*/




/*media section*/



/*upcoming events*/



/*footer*/